build --apple_platform_type=ios
build --apple_generate_dsym
build --use_top_level_targets_for_symlinks
build --strip=never
build --strategy=ObjcLink=standalone
build --features=swift.use_global_module_cache
build --linkopt=-ObjC
build --linkopt=-lxml2
build:release --compilation_mode=opt
build:release --define=release=true
build:release --features=dead_strip
build:release --features=swift.opt_uses_wmo
build:release --objccopt=-Ofast
build:release --objccopt=-flto
build:release --swiftcopt=-DRELEASE
build:release --linkopt=-flto
build:qa --compilation_mode=opt
build:qa --define=release=true
build:qa --features=dead_strip
build:qa --features=swift.opt_uses_wmo
build:qa --objccopt=-Ofast
build:qa --objccopt=-flto
build:qa --swiftcopt=-DRELEASE
build:qa --swiftcopt=-DQA=1
build:qa --linkopt=-flto
